@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:255, 255, 255;
  /* --background-rgb: #0F1812; */
  /* --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #0F1812;
    --background-end-rgb: 0, 0, 0;
  }
 }  */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Manrope", sans-serif; */
  }


body {
  color: rgb(var(--foreground-rgb));
  /* background: var(--background-start-rgb); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
/* @layer components {
.cont{
    @apply px-5 md:px-8 lx:px-28;
}} */

.max-width {
    @apply max-w-[1440px] mx-auto;
  }

  .padding-x {
    @apply px-5 md:px-8 xl:px-28;
  }

  
  /* .padding-y {
    @apply py-4;
  } */

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }