@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:255, 255, 255;
  /* --background-rgb: #0F1812; */
  /* --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #0F1812;
    --background-end-rgb: 0, 0, 0;
  }
 }  */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Manrope", sans-serif; */
  }


body {
  color: rgb(var(--foreground-rgb));
  opacity: 0.75;
  background: rgba(2, 15, 8, 0.50);
  background: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0.00) 100%);
  /* background: var(--background-start-rgb); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.max-width {
    @apply max-w-[1440px] mx-auto;
  }

  .padding-x {
    @apply px-5 md:px-8 xl:px-28;
  }

  
  /* .padding-y {
    @apply py-4;
  } */

  .header-1{
    @apply text-[37px] font-thin uppercase md:ml-0 md:text-[67px] md:leading-[normal] md:tracking-[8.71px];
  }

  .header-2{
    @apply text-[40px] leading-[56px] tracking-[-1.6px] uppercase font-thin
    md:text-[67px] md:tracking-[-2.68px] xl:text-[98px] xl:tracking-[-3.92px] max-w-xs xl:max-w-[646px] md:mb-[58px] md:leading-[82px] xl:leading-[1.3] md:max-w-fit
  }

  .text-style {
    @apply text-sm font-extralight   leading-5 text-justify
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
 
  .flex-between {
    @apply flex justify-between items-center;
  }

  .button-hero {
    @apply flex-center max-w-[280px] mx-auto py-[18px] px-[64px] text-lg font-bold leading-normal bg-white/[.01] hover:bg-white/[0.2] focus:bg-white/[0.2] transition-colors ease-in duration-300 relative  px-[64px] py-[12px] md:m-0
  }

  .hero-right{
    @apply md:max-w-[230px] ml-auto
  }

  .button-hero::before,
  .button-hero::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 53px;
    top: 0;
    bottom: 0;
  }
  
 
  .button-hero::before {
    left: 0;
    content: url('/right-mobile.svg');  
  }   

  .button-hero::after {
    right: 0;
    content: url('/left-mobile.svg');
  }

   @media screen and (min-width: 768px) { 
      .button-hero::before {
     content: url('/right-tablet.svg');  
     }  
     .button-hero::after {
        content: url('/left-tablet.svg');
      }
   }
  .hero-section {
    background-image: url(/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    @apply pt-[105px] md:pt-[122px] xl:pt-[130px]
  }