@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 255, 255, 255; */
  /* --background-rgb: #0F1812; */
  /* --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #0F1812;
    --background-end-rgb: 0, 0, 0;
  }
 }  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Manrope", sans-serif; */
}

body {
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;


}

    @media screen and  (min-width: 768px){
        body {
        font-size: 16px;
     }

    }
    @media screen and (min-width: 1280px){
        body {
            font-size: 18px;
            line-height: 24px;
         }
    }

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply px-5 md:px-8 xl:px-28;
}

.padding-y {
    @apply py-14;
  }

.header-1 {
  @apply text-[37px] font-thin uppercase md:ml-0 md:text-[67px] md:leading-none md:tracking-[8px] xl:text-[98px] xl:tracking-[1px];
}

.header-2 {
  @apply text-[40px] leading-[56px] tracking-[-1.6px] uppercase font-thin
  md:leading-none  md:text-[67px] md:tracking-[-2.68px] xl:text-[98px] xl:tracking-[-3.92px]  xl:leading-[1.3];
}

.text-style {
  @apply text-sm font-extralight   leading-5 text-justify;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.button-hero {
  @apply flex-center max-w-[280px] mx-auto py-[13px] px-[64px] text-lg font-bold leading-normal bg-white/[.1] hover:bg-white/[0.2] focus:bg-white/[0.2] transition-colors ease-in duration-300 relative  md:py-[12px] md:m-0 xl:text-[32px] xl:max-w-[293px];
}

.hero-right {
  @apply md:w-[230px] xl:w-[294px] ml-auto;
}

.button-hero::before,
.button-hero::after {
  content: '';
  position: absolute;
  width: 42px;
  height: 53px;
  top: 0;
  bottom: 0;
}

.button-hero::before {
  left: 0;
  content: url('/right-mobile.svg');
}

.button-hero::after {
  right: 0;
  content: url('/left-mobile.svg');
}

.mobile-menu__bg{ 
    background: rgba(1, 10, 5, 0.75);
    backdrop-filter: blur(25px);
}

.hero-section {
    background-image:     
    linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0) 100%),       linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),       url('/hero-bg.jpg')     ; 
  background-repeat: no-repeat;
  background-size: auto 287px , cover, cover ;
  min-height: 642px;

  /* @apply pt-[105px] md:pt-[122px] xl:pt-[130px]; */
}

.services-list{
    @apply text-xl font-extralight leading-[17px] uppercase;
}

.services-item__active{
    position: relative;
    @apply  font-medium;

}
.services-item__active::before{
   content: '';
position: relative;
display: inline-block;
width: 6px;
height: 6px;
background-color: white;
margin-right: 8px;
transform:translate(0, -50%) rotate(45deg); 
}


@media screen and (min-width: 768px) {
  .button-hero::before,
  .button-hero::after {
    width: 35px;
    height: 50px;
  }
  .button-hero::before {
    content: url('/right-tablet.svg');
  }
  .button-hero::after {
    content: url('/left-tablet.svg');
  }
  .hero-section {
    min-height: 531px;
  }
}

@media screen and (min-width: 1280px) {
  .button-hero::before,
  .button-hero::after {
    width: 44px;
    height: 71px;
  }
  .button-hero::before {
    content: url('/right-desktop.svg');
  }
  .button-hero::after {
    content: url('/left-desktop.svg');
  }
  .hero-section {
    min-height: 763px;
    background-size: auto 146px, cover, cover ;
  }
}


.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets{
    display: flex;
    flex-direction: column;
}

.swiper-pagination-bullets .swiper-pagination-bullet{
height:fit-content;
}

/* .swiper-container {
    width: 280px;
  }
  
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 463px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 607px;
    }
  } */